@using ExpenseTracker.Application.Requests.Wallet;
@model CreateWalletRequest;

@{
    ViewData["PageTitle"] = "Create new Wallet";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#212b36">
            <h4 class="text-center mb-5">New Wallet</h4>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <ejs-textbox id="title" placeholder="Title" ejs-for="Name" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Name" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="note"
                                 placeholder="Description"
                                 ejs-for="Description"
                                 floatLabelType="Always" multiline="true"></ejs-textbox>
                </div>
                <div class="mb-3">
                    <ejs-numerictextbox id="balance"
                                        ejs-for="Balance"
                                        placeholder="Balance"
                                        floatLabelType="Always"
                                        min="1"
                                        format="c0"></ejs-numerictextbox>
                    <span asp-validation-for="Balance" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3 flex d-flex">
                    <input type="checkbox" id="type-checkbox" asp-for="IsMain" style="height: 25px; width: 25px; margin-top: 10px;">
                    <p class="ms-3">Make main </p>
                </div>
                <div class="d-grid">
                    <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
                </div>
            </form>
        </div>


    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

<style>
    .lSize {
        font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
        font-size: 13px;
        cursor: pointer;
        user-select: none;
    }
</style>