@model ExpenseTracker.Application.ViewModels.Wallet.WalletViewModel
﻿
@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<h5>Are you sure you want to delete the <b style="color:#E74C3C">@Model.Name</b> wallet?</h5>
<br>
<div>
    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex justify-content-center">
            <button class="btn btn-secondary mx-2" asp-action="Index" style="width:74.04px" >No</button>
            <button type="submit" class="btn btn-danger mx-2" style="border-radius : 5px;">Yes</button>
        </div>
    </form>
</div>
