@model IEnumerable<ExpenseTracker.Application.ViewModels.Wallet.WalletViewModel>

@{
    ViewData["PageTitle"] = "Wallets";
    ViewData["PageActionUrl"] = "/wallets/create";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="row">
    <div class="col-md-9">
        <form asp-controller="Wallets" asp-action="Index" method="get" class="mb">

            <div class="form-container d-flex justify-content-between">
                <div class="d-flex gap-3">
                    <ejs-textbox id="search-box"
                                 name="search"
                                 placeholder="Search wallets..."
                                 floatLabelType="Never"
                                 width="300px"
                                 input="onSearchChange"
                                 value="@ViewBag.Search">
                    </ejs-textbox>
                </div>
                <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createWalletModal"> + Wallet</a>
            </div>
        </form>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-9">
        <ejs-grid id="wallets-list" dataSource="@Model" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="8"></e-grid-pagesettings>
            <e-grid-columns>              
                <e-grid-column headerText="Name" field="Name" width="150px"></e-grid-column>
                <e-grid-column headerText="Balance" field="Balance" textAlign="Left" format="C2" width="100px"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate" width="100px"></e-grid-column>
                <e-grid-column template="#actionColumnTemplate" width="120px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-3">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
    ${if(IsMain)}
        <span class="badge bg-success">Main</span>
    ${else}
        <span class="badge bg-secondary">Secondary</span>
    ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">        
        <button type="button" class="btn btn-sm no-a-decoration" title="Details" onclick="onDetailsClick(${Id})">
            <i class="bi bi-card-list text-info" style="font-size: 21px;"></i>
        </button>
        <button type="button" class="btn btn-sm no-a-decoration" title="edit" onclick="onEditClick(${Id})">
            <i class="fa-solid fa-pen fa-lg"></i>
        </button>
        <button class="btn btn-sm no-a-decoration" title="delete" onclick="onDeleteClick(${Id})">
            <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
        </button>
        <button  type="button" class="btn btn-sm no-a-decoration" onclick="onShareClick(${Id})" data-toggle="tooltip" title="Share with others">
            <i class="fa-solid fa-share fa-lg" style="line-height: 1.5;"></i>
        </button>
    </div>
</script>

<div class="modal fade" id="walletdeletemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="deleteContent">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="walletSharemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="width:600px">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4 class="modal-title">Wallet share</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="walletShareContent">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="walletEditmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4 class="modal-title">Wallet edit</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="walletEditContent">
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Create")
@await Html.PartialAsync("Details")

<script>
    function loadCategories() {
        $.ajax({
            type: 'GET',
            url: '/getWallets',
            contentType: 'json',
            success: function (data) {
                onSave();
                const grid = document.getElementById("wallets-list").ej2_instances[0];
                grid.dataSource = data;
                grid.refresh();
            },
        });
    }
</script>

<div id="successModal" class="succes-modal">
    <div class="succes-modal-content">
        <div class="success-icon">
            &#10004;
        </div>
        <h2>Success</h2>
        <p>Your data has been successfully submitted!</p>
        <button class="succes-btn" id="okBtn">OK</button>
    </div>
</div>

<script>
    function onSave() {
        const modal = document.getElementById('successModal');
        const submitBtn = document.querySelectorAll('#submitBtn');
        const okBtn = document.querySelector('#okBtn');

        submitBtn.forEach((btn) => {
            btn.addEventListener('click', () => {
                modal.style.display = 'block';

                setTimeout(() => {
                    modal.style.display = 'none'
                }, 3000)
            })

        })

        okBtn.addEventListener('click', () => {
            modal.style.display = 'none';
        })

        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        }
    }
</script>

<script type="text/javascript">
    function onEditClick(id) {
        $('#walletEditContent').empty();
        $.ajax({
            url: "/wallets/edit/" + id,
            type: 'GET',
            success: function (data) {
                $('#walletEditContent').html(data);
                $('#walletEditmodal').modal({
                    backdrop: 'static',
                    keyboard: false
                }).modal('show');
            },
            error: function (error) {
                alert("Tahrirlash oynasini ochishda muommo bo'ldi \n" + error);
            }
        });
        $(this).find('#walletEditContent').empty();
        $(this).off('hidden.bs.modal');
        $('#walletEditmodal').on('click', function (e) {
            if ($(e.target).is('#walletEditmodal')) {
                const modalContent = $(this).find('.modal-content');
                modalContent.addClass('shake');
                setTimeout(() => {
                    modalContent.removeClass('shake');
                }, 500);
            }
        });
    }
</script>

<script type="text/javascript">
    function onDeleteClick(id) {
        $('#deleteContent').empty();
        $.ajax({
            url: "/wallets/delete/" + id,
            type: 'GET',
            success: function (data) {
                $('#deleteContent').html(data);
                $('#walletdeletemodal').modal({
                    backdrop: 'static',
                    keyboard: false
                }).modal('show');
            },
            error: function (error) {
                alert("Error \n" + error);
            }
        });
        $(this).find('#deleteContent').empty();
        $(this).off('hidden.bs.modal');
        $('#walletdeletemodal').on('click', function (e) {
            if ($(e.target).is('#walletdeletemodal')) {
                const modalContent = $(this).find('.modal-content');
                modalContent.addClass('shake');
                setTimeout(() => {
                    modalContent.removeClass('shake');
                }, 500);
            }
        });
    }
</script>

<script type="text/javascript">
    function onShareClick(id) {
        $('#walletShareContent').empty();
        $.ajax({
            url: "/wallets/share/" + id,
            type: 'GET',
            success: function (data) {
                $('#walletShareContent').html(data);
                $('#walletSharemodal').modal({
                    backdrop: 'static',
                    keyboard: false
                }).modal('show');
            },
            error: function (error) {
                alert("Error \n" + error);
            }
        });
        $(this).find('#walletShareContent').empty();
        $(this).off('hidden.bs.modal');
        $('#walletSharemodal').on('click', function (e) {
            if ($(e.target).is('#walletSharemodal')) {
                const modalContent = $(this).find('.modal-content');
                modalContent.addClass('shake');
                setTimeout(() => {
                    modalContent.removeClass('shake');
                }, 500);
            }
        });
    }
</script>

<script>
    function onSearchChange(args) {
        if (!args) {
            return;
        }

        const search = args.value;

        $.ajax({
            type: 'GET',
            url: `/getWallets?search=${search}`,
            contentType: 'json',
            success: function (data) {
                const grid = document.getElementById("wallets-list").ej2_instances[0];
                grid.dataSource = data;
                grid.refresh();
            }
        });
    }
</script>