@model ExpenseTracker.Application.Requests.WalletShare.CreateWalletShareRequest;

@{
    ViewData["PageTitle"] = "Share wallet";
    Layout = "~/Views/Shared/_ModalForLayout.cshtml";
}

<div class="widget p-5" style="background-color:#212b36;">
    <h4 class="text-center mb-5"></h4>
    <form id="createShareForm" asp-action="Share" method="post">
        <ejs-numerictextbox id="wallet-id" ejs-for="WalletId" allowObjectBinding="true" type="hidden"></ejs-numerictextbox>
        <input type="hidden" id="users-list-input" asp-for="@Model.UsersToShareJson" />
        <div class="d-flex justify-content-between">
            <div class="mb-4" style="width:450px">
                <ejs-textbox id="user-email"
                             placeholder="Enter user email"
                             floatLabelType="Never"
                             showClearButton="true"
                             multiline="false">
                </ejs-textbox>                
            </div>
            <div class="mb-3">
                <ejs-button id="add-user-button"
                            content="Add user"
                            cssClass="e-success"
                            type="button"
                            onclick="onAddUser()"></ejs-button>
            </div>
        </div>
        <div class="my-5" style="height: 200px; overflow-y: scroll;">
            <h5 class="text-center">Selected users</h5>
            <ejs-listview id="users-list">
                <e-listview-fieldsettings text="Text" id="Id">
                </e-listview-fieldsettings>
            </ejs-listview>
        </div>
        <div class="d-grid">
            <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
        </div>
    </form>
</div>
  
<style>
    .lSize {
        font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
        font-size: 13px;
        cursor: pointer;
        user-select: none;
    }
</style>

<script>
    $('#createShareForm').submit(function (e) {
        e.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: '/wallets/share',
            data: formData,
            success: function (response) {
                if (response.success) {
                    $('#createShareForm')[0].reset();
                    loadCategories();
                } else {
                    $('#createShareForm').prepend('<div class="alert alert-danger">' + response.errors.join('<br>') + '</div>');
                }
            },
            error: function (error) {
                alert(error);
            }
        });
    });
</script>

<script>
    var usersList = [];

    function onAddUser() {
        var emailInput = document.getElementById('user-email').ej2_instances[0];
        var usersListView = document.getElementById("users-list").ej2_instances[0];
        var usersListInput = document.getElementById("users-list-input");
        var user = emailInput.properties.value;

        if (!user.trim()) {
            alert('Iltimos, foydalanuvchi emailini kiriting.');
            return;
        }
        if (usersList.some(el => user === el.Text)) {
            return;
        }

        var newUser = {
            Text: user,
            Id: usersList.length + 1
        };

        usersList.push(newUser);
        updateUserList();

        var textOnlyList = usersList.map(el => el.Text);
        usersListInput.value = JSON.stringify(textOnlyList);

        emailInput.value = '';
        emailInput.dataBind();
    }

    function updateUserList() {
        var listView = document.getElementById('users-list').ej2_instances[0];

        var updatedUsers = usersList.map(function (user) {
            return {
                Text: `<span>${user.Text}</span><button onclick="removeUser(${user.Id})" class="btn-close btn-close-white" style="margin-top: -9px; margin-left:10px; line-height: 1; font-size:12px;"></button>`,
                Id: user.Id
            };
        });

        listView.dataSource = updatedUsers;
        listView.template = '${Text}';
        listView.dataBind();
    }

    function removeUser(id) {
        usersList = usersList.filter(function (user) {
            return user.Id !== id;
        });

        updateUserList();
        document.getElementById("users-list-input").value = JSON.stringify(usersList.map(user => user.Text));
    }
</script>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notification.js"></script>
<ejs-scripts></ejs-scripts>
