@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="widget p-5" style="background-color:#212b36">
            <h1 class="text-center mb-5 text-danger"><i class="fa fa-exclamation-circle"></i> 500</h1>
            <h2 class="text-center mb-4">Internal Server Error</h2>
            <p class="text-center mb-4">Oops! Something went wrong on our end. We're working to fix it.</p>
            <div class="d-grid gap-2">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                    <i class="fa fa-home"></i> Go to Homepage
                </a>
            </div>
        </div>
    </div>
</div>