@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>Sms: @ViewBag.SmsValue </p>
</div>

<div>
    <p>Email: @ViewBag.EmailValue </p>
</div>

<div>
    <p>Update Sms: @ViewBag.UpdatedSmsValue </p>
</div>

<div>
    <p>Update Email: @ViewBag.UpdatedEmailValue </p>
</div>
