@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Error.css" asp-append-version="true" />

<div class="error mt-0">
    <div class="text mt-0">
        <h1 class="main-404 text-danger">4O4</h1>
        <h1>lost in space</h1>
        <p>you have reached the edge of the universe</p>
        <div>
            <a asp-controller="Home" asp-action="Index" style="margin-top:40%; width: 300px" 
            class="btn btn-primary">
                <i class="fa fa-home"></i> Go to Homepage
            </a>
        </div>
    </div>
</div>
    

<div class="astronaut">
    <img src="~/astronaut.png" alt="" class="src">
</div>

<script>
       document.addEventListener("DOMContentLoaded",function(){

     var body=document.body;
      setInterval(createStar,100);
      function createStar(){
        var right=Math.random()*500;
        var top=Math.random()*screen.height;
        var star=document.createElement("div");
     star.classList.add("star")
      body.appendChild(star);
      setInterval(runStar,10);
        star.style.top=top+"px";
      function runStar(){
        if(right>=screen.width){
          star.remove();
        }
        right+=3;
        star.style.right=right+"px";
      }
      }
    })
</script>