@{
	Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="widget p-5" style="background-color:#212b36">
            <h1 class="text-center mb-5 text-danger"><i class="fas fa-exclamation-triangle"></i> 404</h1>
            <h2 class="text-center mb-4">Page Not Found</h2>
            <p class="text-center mb-4">Oops! The page you're looking for doesn't exist.</p>
            <div class="d-grid gap-2">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                    <i class="fas fa-home"></i> Go to Homepage
                </a>
            </div>
        </div>
    </div>
</div>
