@model ExpenseTracker.Application.ViewModels.Category.CreateCategoryViewModel;

@{
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#212b36">
            <h4 class="text-center mb-5">New Category</h4>
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                        <input type="radio" id="radioleft" name="Type" value="Expense" checked="@(Model == null || Model.Type == ExpenseTracker.Domain.Enums.CategoryType.Expense)" />
                        <label class="e-btn e-btn-danger" for="radioleft">Expense</label>
                        <input type="radio" id="radiomiddle" name="Type" value="Income" checked="@(Model?.Type == ExpenseTracker.Domain.Enums.CategoryType.Income)" />
                        <label class="e-btn e-btn-success" for="radiomiddle">Income</label>
                    </div>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="title" placeholder="Title" ejs-for="Name" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Name" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="note" 
                                 placeholder="Description" 
                                 ejs-for="Description"
                                 floatLabelType="Always" multiline="true"></ejs-textbox>
                </div>
                <div class="d-grid">
                    <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
                </div>
            </form>
        </div>


    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>


@*@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}*@