<!-- Delete Category Modal -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content w-100 p-4">
            <h5 class="modal-title">Are you sure you want to delete this <span id="deleteCategoryName" class="text-danger"></span> category?</h5>
            <input type="hidden" id="deleteCategoryId">
            <div class="d-flex justify-content-center mt-4 gap-4">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="submitBtn" onclick="confirmDeleteCategory()">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function openDeleteModal(id) {

        $.ajax({
            type: 'GET',
            url: `/categories/details/${id}`,
            success: function (data) {
                $('#deleteCategoryId').val(data.Id);
                $('#deleteCategoryName').text(data.Name);

                $('#deleteCategoryModal').modal('show');
            },
            error: function (error) {
                console.log('Error fetching category details:', error);
            }
        });
    }

    function confirmDeleteCategory() {
        var categoryId = $('#deleteCategoryId').val();
        var token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            type: 'DELETE',
            url: `/categories/delete/${categoryId}`,
            headers: {
                'RequestVerificationToken': token
            },
            success: function (response) {

                $('#deleteCategoryModal').modal('hide');
                loadCategories();
            },
            error: function (error) {
                console.log('Error deleting category:', error);
                alert("Error deleting category");
            }
        });
    }

    $('#deleteCategoryModal').on('click', function (e) {
        if ($(e.target).is('#deleteCategoryModal')) {
            const modalContent = $(this).find('.modal-content');
            
            modalContent.addClass('shake');
                setTimeout(() => {
            modalContent.removeClass('shake');
                }, 500);
        }
    });
</script>

