@{
    List<Object> menuItems = new List<Object>();

    menuItems.Add(new
    {
        text = "General",
        separator = true,
    });
    menuItems.Add(new
    {
        text = "Dashboard",
        iconCss = "fa-solid fa-box",
        url = "/"
    });
    menuItems.Add(new
    {
        text = "Wallets",
        iconCss = "fa-solid fa-wallet",
        url = "/wallets"
    });
    menuItems.Add(new
    {
        text = "Categories",
        iconCss = "fa-solid fa-folder-closed",
        url = "/categories"
    });
    menuItems.Add(new
    {
        text = "Transfers",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "/transfers"
    });

    menuItems.Add(new
    {
        text = "Extras",
        separator = true,
    });
    menuItems.Add(new
    {
        text = "Reports",
        iconCss = "fa-solid fa-chart-simple",
        url = "#"
    }); 
    menuItems.Add(new
    {
        text = "Settings",
        iconCss = "fa-solid fa-gear",
        url = "#"
    });
}

<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px"
             target=".dock-target" enableGestures="false">
    <e-content-template>

        <div class="logo-wrapper">
            <div class="app-logo">
                <img src="~/logo.png" />
            </div>
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>
        </div>

        <div class="profile-wrapper">
            <img class="profile-pic" src="~/profile.jpg" />
            <div class="titles d-flex flex-column ps-3">
                <h6 class="mb-0">Wallet App</h6>
                <span class="text-muted"></span>
            </div>
        </div>

        <ejs-menu id="menu"
                  items="menuItems"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dockBar = document.getElementById('sidebar').ej2_instances[0];
        const mainContent = document.querySelector('.main-content');

        checkWidthAndToggle();

        window.addEventListener('resize', checkWidthAndToggle);

        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
            mainContent.classList.toggle('sidebar-collapsed');
        };

        function checkWidthAndToggle() {
            const screenWidth = window.innerWidth;

            if (screenWidth < 768) {
                if (dockBar.isOpen) {
                    dockBar.toggle();
                    mainContent.classList.add('sidebar-collapsed');
                }
            } else {
                if (!dockBar.isOpen) {
                    dockBar.toggle();
                    mainContent.classList.remove('sidebar-collapsed');
                }
            }
        }
    });
</script>

